[DEFAULT]
; enter the path to your MELD data here
meld_data_path = 

[develop]
; do not change
base_path = %(meld_data_path)s/output/preprocessed_surf_data
experiment_path = %(meld_data_path)s/models
fs_subjects_path = %(meld_data_path)s/output/fs_outputs
meld_params_path = %(meld_data_path)s/meld_params